html {font-size: 1px;}
body {font-size: 1rem;}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #9F9F9F;
}

.page2_icons {
    padding: 15rem;
    font-size: 32rem;
    display: flex;
    justify-content: space-between;
}

.notty_logo {
    margin-top: 8px;
    padding: 0;
    font-size: 32rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.form {
    margin: 10rem;
    /* height: 100vh; */
    margin-bottom: 65rem;
    padding: 0;
}

.one{
    /* background-color: #778f8a; */
    height: max-content;
    font-size: 30rem;
    position: relative;
    /* padding-bottom: 10px;
    border-bottom: solid 2px #b6b6b6; */
}

.line {
    background-color: #646464;
    /* width: 100vw; */
    /* height: 5px; */
    height: 20px;
    /* position: relative; */
    z-index: 2;
    border-radius: 14px 50px 0px 14px;
}

.line_icon {
    color: blueviolet;
    
}

.line_out{
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
    z-index: 4;
    /* height: 10vh; */
}


.section{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
}


.small_circle, .small_circle_now {
    color: #D9D9D9;
    font-size: 12px;
}

.small_circle_now {
    color: #8B4513;
}

.small_name {
    margin-top: 3px;
    font-size: 14rem;
}


.two{
    /* background-color: rgb(150, 137, 137); */
    margin: 20px 10px 0px 10px;
    padding-bottom: 85px;
    height: 100vh;
    /* border: solid 2px #D9D9D9; */
    /* font-size: 24px; */
}

/* .upup {
    padding: 10px;
    border-top: solid 2px #D9D9D9;
    border-bottom: solid 2px #D9D9D9;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
} */

.upup {
    padding: 10px;
    background-color: #d9d9d951;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

/* .time {
    font-size: 24px;
}

.heart_icon {
    font-size: 24px;
} */

.no {
    padding: 10px 10px 10px 10px;
}



.ad {
    position: fixed;
    bottom: 0;
    background-color: rgb(49, 49, 49);
    font-size: 40rem;
    text-align: center;
    width: 100vw;
    height: 65rem;
}